body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #f0fcff;
  color: #000;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #53629E;
  padding: 1vh 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.nav-left a,
.dropbtn {
  font-size: 12px;
  color: #fff;
  padding: 1vh 16px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.25s;
}

.nav-left a:hover,
.dropdown-content a:hover {
  background: #8FABD4;
  color: #000;
}

.nav-right i {
  color: white;
  padding: 10px 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-right: 1vw;
}

.nav-right i:hover {
  transform: scale(1.25);
  color: #8FABD4;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropbtn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #000;
  min-width: 150px;
  margin-top: 1px;
  border: 1px solid #4A70A9;
}

.dropdown-content a {
  color: white;
  padding: 10px 14px;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* HERO */
.parallax-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vw * 0.7);
  /* 16:9 ratio → 9/16 = 0.5625 */
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.layer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layer-bg {
  z-index: 1;
}

.layer-mid {
  z-index: 3;
  position: relative;
}

.layer-front {
  z-index: 5;
}

.dalat-text {
  position: absolute;
  top: 35%;
  font-size: calc(8vw + 1rem);
  font-family: "Cormorant Garamond", serif;
  letter-spacing: 0.6vw;
  color: white;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

/* CONTENT */
.content {
  padding: 5vw 4vw;
  text-align: center;
}

.title {
  font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.subtitle {
  color: #4A70A9;
  margin-bottom: 40px;
}

.text {
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.7;
}

/* img */
.members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.member img {
  width: 25vw;
  height: calc(25vw*1.23);
  object-fit: cover;
  border-radius: 24px;
  transition: 0.3s;
}

.member img:hover {
  transform: scale(1.03);
}

/*sec*/
.dark-section {
  background: #bcc8ca;
  padding: 8vw 4vw;
  text-align: center;
  color: #000000;
  font-family: "Poppins", sans-serif;
}


.title {
  font-size: 32px;
  margin-bottom: 10px;
  letter-spacing: 4px;
}


.subtitle {
  margin-bottom: 40px;
  opacity: 0.8;
}


.list-container {
  max-width: 700px;
  margin: 0 auto;
  text-align: left;
}


.list {
  list-style: none;
  padding-left: 0;
}


.list li {
  margin: 15px 0;
  padding: 15px 20px;
  background: #8b9b9e;
  border-bottom: 1px solid #222;
  position: relative;
  border-radius: 6px;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease-out;
}


.list li.show {
  opacity: 1;
  transform: translateY(0);
}

/*bôking*/
.contact-form {
  max-width: 420px;
  margin: auto;
  text-align: left;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #4A70A9;
  border-radius: 4px;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #4A70A9;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: 0.25s;
}

.contact-form button:hover {
  background: #8FABD4;
  color: #000;
}

/*footer*/
footer {
  padding: 25px;
  text-align: center;
  background: #53629E;
  color: #EFECE3;
  margin-top: 40px;
}